.animated-text-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 100px;
  color: white;
  flex-wrap: wrap;
  gap: 20px;
}

.sticky-wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.animated-text {
  font-size: 50px;
  font-weight: 600;
  flex-wrap: wrap;
  line-height: 1.4;
  width: 70%;
}

.animbtn {
  width: 30%;
  text-align: center;
}

.headline-letter {
  display: inline-block;
  transition: color 0.2s ease, opacity 0.2s ease;
}

.faint {
  color: #b1b1b1;
  /* Faint gray */
  opacity: 0.3;
}

.dark {
  color: white;
  /* Highlighted */
  opacity: 1;
}

.collab-button {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 999px;
  padding: 14px 30px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

.collab-button:hover {
  background-color: #e5eaff;
}