.selected-works-section {
  height: 100vh;
  padding: 50px 20px;
  background-color: #000;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.section-title {
  font-size: 32px;
  color: #fff;
  margin-bottom: 20px;
}

.scroll-container {
  display: flex;
  gap: 8px;
  overflow-x: auto;
  height: 100%;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  padding-bottom: 20px;
}

.scroll-container::-webkit-scrollbar {
  display: none;
}

.work-card {
  min-width: 320px;
  scroll-snap-align: start;
  position: relative;
  /* border-radius: 12px; */
  overflow: hidden;
  transition: transform 0.3s ease;
  flex-shrink: 0;
}

.work-card img {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.4s ease;
}

.work-card:hover img {
  transform: scale(1.2);
}

.btn-wrapper {
  position: absolute;
  bottom: 15px;
  left: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.work-card:hover .btn-wrapper {
  opacity: 1;
}

.work-btn {
  background: rgba(255, 255, 255, 0.9);
  border: none;
  padding: 8px 14px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.btn-icon {
  color: #000;
}
